#canvas {
    // width: 1300px;
    // height: 600px;
    background-color: green;
    display: flex;
    justify-content: center;
}


body {
    background-color: #0E2650;
}
h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: 'Fascinate', cursive;
    font-size: 40px; 
}